.sticky-container {
  position: sticky;
  top: 90px;
  background-color: #161f32;
  padding-bottom: 10px;
}

.filter-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    align-items: flex-end;
  }

  .search {
    height: 36px;
    border-radius: 4px;
    border: 2px solid #C8AA6E
  }

  .dropdown {
    height: 40px;
  }
  
  .champ-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .clear-button {
    padding: 10px 20px;
    background-color: #00B2CF;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    width: 100px;
    font-size: small;
  }
  
  button:hover {
    background-color: #0056b3;
  }
h1 {
    color: #C8AA6E;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
}

p {
    font-family: "Blinker", sans-serif;
    color: white;
}

