@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

.App {
  text-align: center;
  background-color: #161f32;
  height: 100%;
}

.App-header {
  background-color: #2B2A2A;
  color: #C8AA6E;
  height: 65px;
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
  padding: 25px;
  text-align: left;
}
