@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

.App, body {
  text-align: center;
  background-color: #161f32;
  height: 100%;
}

.header {
  background-color: #2B2A2A;
  color: #C8AA6E;
  height: 50px;
  font-style: normal;
  font-size: large;
  padding: 20px;
  text-align: left;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-link {
  text-decoration: none;
  color: inherit;
}
